:root{
    --bs-card-spacer-y: 1rem;
    --bs-card-spacer-x: 1rem;
    --bs-card-title-spacer-y: 0.5rem;
    --bs-card-border-width: 1px;
    --bs-card-border-color:  white;
    --bs-card-border-radius: 0.375rem;
    --bs-card-box-shadow: ;
    --bs-card-inner-border-radius: calc(0.375rem - 1px);
    --bs-card-cap-padding-y: 0.5rem;
    --bs-card-cap-padding-x: 1rem;
    --bs-card-cap-bg: #f4af6b;
    --bs-card-cap-color: ;
    --bs-card-height: ;
    --bs-card-color: white ;
    --bs-card-bg: #f4af6b;
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: 0.75rem;
    --bs-border-color-translucent: white;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #9dd9d2;
}

img{
    width: 100%;
    display: block;
    border: 1px solid white;
    border-radius: 0.370rem;
}

.card{
    background-color: #f4af6b;
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: var(--bs-card-height);
    word-wrap: break-word;
    background-color: #f4af6b;
    background-clip: border-box;
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
    border-radius: var(--bs-card-border-radius);
}

.container{
    --bs-gutter-x: none;
    --bs-gutter-y: none;
}